.ui-panel {
  --time: 0;

  @include fluid("--shadow-offset-x", 5px, 10px);
  @include fluid("--shadow-offset-y", 5px, 10px);

  @include fluid("padding", 25px, 50px);

  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: $c-background-solid;
  color: $c-text;

  // prettier-ignore
  box-shadow: 
      calc(var(--shadow-offset-x) * -1) calc(var(--shadow-offset-y) * 1) 0px 0px #00a1cdcc,
      calc(var(--shadow-offset-x) * -1 * 2) calc(var(--shadow-offset-y) * 2) 0px 0px #00c8ff80,
      calc(var(--shadow-offset-x) * -1 * 3) calc(var(--shadow-offset-y) * 3) 0px 0px #6ee0ff4d
}

.ui-panel__content {
  font-size: 18px;
  gap: 5px;

  p {
    margin: 0;
  }

  a {
    color: #ff7001;
  }
}
