$bp-large: 1024px;
$bp-small: 320px;
$bp-mobile: 768px;

$c-white: #fff;
$c-background-solid: #ffffe7;
$c-text: #035565;

$ff-main: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$ff-alt: "PP Hatton";

$ease-spring: linear(
  0,
  0.011,
  0.043 1.7%,
  0.176 3.5%,
  0.875 9.9%,
  1.112 12.5%,
  1.196,
  1.258,
  1.3,
  1.323 17.4%,
  1.327,
  1.323,
  1.312,
  1.293 20.9%,
  1.235 22.9%,
  1.054 27.7%,
  0.978 30.1%,
  0.921 32.8%,
  0.904,
  0.895 35.5%,
  0.894 37.2%,
  0.904,
  0.924 41.2%,
  0.982 45.9%,
  1.006 48.3%,
  1.025,
  1.034 53.5%,
  1.035 55.3%,
  1.031 57.4%,
  0.998 66.4%,
  0.989 71.3%,
  0.99 75.7%,
  1.003 88.4%,
  1.001
);
$transition-duration-snappy: 1s;
